<h1 mat-dialog-title style="width: 100%; display: flex; justify-content: center;">Sample Request Form</h1>
<!-- <div *ngIf="data.length" mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div> -->
<div *ngIf="data.length" style="display: flex; flex-direction: column; padding: 10px; margin-bottom: 10px">
  <mat-dialog-content mat-dialog-action style="display: flex; align-items: center; flex-direction: column;">
    <mat-form-field style="width: 75%">
      <label>Full Name</label><input matInput type="text">
    </mat-form-field>
    <mat-form-field style="width: 75%">
      <label>Company/Affiliation</label><input matInput type="text">
    </mat-form-field>
    <mat-form-field style="width: 75%; margin-bottom: 35px">
      <label>Email</label><input matInput type="text">
    </mat-form-field>
    <h6 style="width: 100%; display: flex; justify-content: center; margin-bottom: 20px">Sample Specifications</h6>
    <div style="width: 50%; display: grid; grid-template-columns: 1fr 1fr; margin-bottom: 60px; justify-items: center;">
      <span><input type="checkbox" [checked]=true><label>&nbsp;&nbsp;16s</label></span>
      <span><input type="checkbox" [checked]=true><label>&nbsp;&nbsp;WGS</label></span>
      <span><input type="checkbox" [checked]=true><label>&nbsp;&nbsp;qPCR</label></span>
      <span><input type="checkbox" [checked]=true><label>&nbsp;&nbsp;Cultured Data</label></span>
    </div>
    <h6 style="width: 100%; display: flex; justify-content: center; margin-bottom: 20px">All Requested Samples ({{ data.length }})</h6>
    <div style="width: 100%; margin-left: 20px; display: grid; grid-template-columns: 1fr 1fr 1fr;">
      <div *ngFor="let item of data">
        <div><input type="checkbox" [checked]=true>&nbsp;&nbsp;{{ item.value.id }}</div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-content style="margin-top: 20px; width: 100%; display: flex; justify-content: center; align-items: center" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </mat-dialog-content>
</div>
<div *ngIf="!data.length" style="display: flex; flex-direction: column; padding: 10px; margin-bottom: 10px" mat-dialog-actions>
  <p>No Samples Selected</p>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>