<div leaflet style="height: 400px;width:100%"
     leafletDraw
     [leafletOptions]="options"
     [leafletDrawOptions]="drawOptions"
     (leafletDrawCreated)="onDrawCreated($event)"
     (leafletMapReady)="onMapReady($event)">
</div>
<div *ngIf="(defaultFilterSource | async) != null">
<h2>My Metadata</h2>
<table>
  <tr>
    <td>
      <ul class="metadata">
        <li *ngFor="let metadatum of defaultFilterSource | async">
          {{metadatum | json}} 
        </li>
      </ul>
    </td>
  </tr>
</table>
</div>
