<div class="row">
    <div class="col-md-7">
      <div leaflet class="map pull-left"
        leafletDraw
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        (leafletDrawCreated)="onDrawCreated($event)"
        (leafletMapReady)="onMapReady($event)" >
      </div>
    </div>
    <div class="col-md-5">
    <!-- <div class="grid">
      <div class="bl">Color Legend</div>
      <div class="ht">Cluster Size</div>
      <div class="hl">Site Type</div>
      <div class="s1">1-9</div>
      <div class="s2">10-100</div>
      <div class="s3">100+</div>
      <div class="t1">Well</div>
      <div class="t2">Site</div>
      <div class="t3">Water Quality Site</div>

      <div class="c1"><div class="color-circle color-1"></div></div>
      <div class="c2"><div class="color-circle color-2"></div></div>
      <div class="c3"><div class="color-circle color-3"></div></div>
      <div class="c4"><div class="color-circle color-4"></div></div>
      <div class="c5"><div class="color-circle color-5"></div></div>
      <div class="c6"><div class="color-circle color-6"></div></div>
      <div class="c7"><div class="color-circle color-7"></div></div>
      <div class="c8"><div class="color-circle color-8"></div></div>
      <div class="c9"><div class="color-circle color-9"></div></div>
    </div> -->

    <div *ngIf="metadata.length > 0">
    <h5>Results {{filterData.length}}</h5>
    <input class="form" type="text" (keyup)='tableSearch($event.target.value)' placeholder="Filter Results">
    <div style="overflow: auto; height:500px;" class="table-responsive">
    <table class="table">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Provider</th>
          <th>Lat,Long</th>
          <th>Files</th>
      </tr>
      <tr *ngFor="let metadatum of filterData">
          <td >
              {{metadatum.value.wid}}{{metadatum.value.MonitoringLocationIdentifier}}
          </td>
          <td width="40%">
            <span #entries>{{metadatum.value.name}}</span>
            <span #entries>{{metadatum.value.station_name}}</span>
            <span #entries>{{metadatum.value.well_name}}</span>
          </td>
          <td >
            <span *ngIf="metadatum.name == 'Well'">
              {{metadatum.value.yr_drilled}}</span>
              <span *ngIf="metadatum.name == 'Water_Quality_Site'">{{metadatum.value.ProviderName}}</span>
          </td>
          <td >
              {{metadatum.value.latitude}},
                  {{metadatum.value.longitude}}
          </td>
          <td width="20%">
              <span *ngIf="metadatum.name == 'Water_Quality_Site' && metadatum.value.resultCount > 0">
                  <a class="btn btn-success" href='https://www.waterqualitydata.us/Result/search?siteid={{metadatum.value.MonitoringLocationIdentifier}}&mimeType=csv&zip=yes&sorted=no' target="_blank" > Download {{metadatum.value.resultCount}} Measurements</a>
              </span>
            <div *ngIf="metadatum.name == 'Well'">
                <span *ngFor="let link of metadatum._links.associationIds ">
                  <a href="#" *ngIf="link.href.indexOf('ikewai-annotated') !== -1" class="btn btn-success btn-sm" (click)="downloadClick(link.href)">Download {{link.href.split('/').slice(-1)[0]}}</a>
                </span>
            </div>
          </td>
        </tr>
      </table>
      </div>
      </div>
    </div>
