<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->

<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- <div>
            <a href="http://ikewai.org"><img height="75px" src="./assets/logo_ike_wai.jpg"/></a>
            <a href="http://hawaii.edu/epscor"><img height="75px" src="./assets/EPSCoR-Logo.png"/></a>
            <a href="http://hawaii.edu"><img height="75px" src="./assets/uh-logo.png"/></a>
            <a href="http://nsf.gov"><img height="75px" src="./assets/nsf-logo.png"/></a>
        </div> -->
</div>
