<ng-container>
    <mat-toolbar class="example-header" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <div class="header-left">Admin Dashboard</div>
      <div class="header-right" (click)="tempLogout()">Sign out</div>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   [fixedInViewport]=0 [fixedTopGap]=0
                   [fixedBottomGap]=0>

        <div class="nav-link-container">
          <a><h5 class="nav-links">Requests</h5></a>
          <a><h5 class="nav-links">Request History</h5></a>
          <a><h5 class="nav-links" (click)="routeToMap()">Map</h5></a>
        </div>
      </mat-sidenav>
      <h3 class="p-3 text-center">Sample Requests</h3>
      <div class="container">
        <mat-table #table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.firstName}} {{item.lastName}}</mat-cell>
          </ng-container>
      
          <!-- Email Column -->
          <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.email}} </mat-cell>
          </ng-container>

          
          <ng-container matColumnDef="Affiliation">
          <mat-header-cell *matHeaderCellDef> Affiliation/Company </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.affiliation}} </mat-cell>
        </ng-container>
    
        <!-- <ng-container matColumnDef="Reason">
          <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.reason}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Sample Specifications">
          <mat-header-cell *matHeaderCellDef> Sample Specifications </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{parseSpecs(item.sampleSpecifications)}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="Samples">
          <mat-header-cell *matHeaderCellDef> Samples </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.selectedData.length}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell class="moreInfo" [ngClass]="{
            'pending': item.status === 'PENDING',
            'approved': item.status === 'APPROVED',
            'rejected': item.status === 'REJECTED'
            }"
            *matCellDef="let item" (click)="openDialogue(item)" style="cursor: pointer"> {{item.status}} </mat-cell>
        </ng-container>
      
     
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator 
          [length]="length"
          [pageSize]="pageSize"
          (page)="pageEvent = $event">
        </mat-paginator>
      </div>
    </mat-sidenav-container>
    <mat-toolbar class="example-footer">Ike Wai - Microbial Samples</mat-toolbar>
  </ng-container>


  
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->