<!-- <div id="alert" class="d-flex justify-content-between alert alert-warning alert-dismissible fade position-absolute hide" style="top: 0; z-index: 99999999; width: 100%;" role="alert">
    <strong>Change Detected!</strong> Please submit query again to link applied filters.
    <button (click)="removeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
<mat-toolbar class="example-header" style="margin-top: 10px; width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <div class="header-left" style="display: flex; flex-direction: column;">
    <h3 style="font-size: 30px;">Search Hawai‘i Microbial Water Dataset</h3>
    <span style="font-size: 16px">Move and Zoom the map to find data by location. Hover over the GPS point for more information.</span>
  </div>
  <div class="header-right" (click)="tempLogout()" style="font-size: 16px">Sign out</div>
</mat-toolbar>
<app-map></app-map>
<div>
</div>
